{% extends "base.html" %}

{% block title %}Список курсов{% endblock %}

{% block style %}
.courses-list {
    list-style-type: none;
    padding: 0;
}

.course-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.course-item:hover {
    background-color: #f1f1f1;
    transform: translateY(-5px); /* Немного поднимаем элемент при наведении */
}

h2 {
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.course-item strong {
    color: #2c3e50;
}

.course-item p {
    font-size: 0.9rem;
    color: #555;
}
{% endblock %}

{% block content %}
    <h2>Список курсов</h2>
    <ul class="courses-list">
        {% for course in courses %}
            <li class="course-item">
                <strong>{{ course.title }}</strong>: {{ course.description }}
            </li>
        {% empty %}
            <li>Нет доступных курсов</li>
        {% endfor %}
    </ul>
{% endblock %}
