{% extends "base.html" %}

{% block title %}{{ assignment.title }}{% endblock %}

{% block content %}
    <h2>{{ assignment.title }}</h2>
    <p><strong>Курс:</strong> {{ assignment.course.title }}</p>
    <p><strong>Дедлайн:</strong> {{ assignment.deadlain }}</p>
    {% if assignment.file_assignment %}
        <p><strong>Файл создания:</strong> <a href="{{ assignment.file_assignment.url }}" download>Скачать</a></p>
    {% else %}
        <p><strong>Файл создания:</strong> отсутствует</p>
    {% endif %}

    <p><a href="{% url 'tracker' %}">Назад к трекеру</a></p>
{% endblock %}
